* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.container {
    margin: 100px auto;
    width: 480px;
    height: auto;
}

header {
    background-color: dimgrey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.body {
    display: flex;
    height: auto;
    width: auto;
}

div {
    border: 1px solid black;
}

form {
    background-color: rgb(255, 255, 255);
}

button {
    background-color: rgb(0, 114, 114);
}

input {
    background-color: rgb(194, 194, 194);
}

p {
    background-color: lightslategrey;
    text-align: center;
}

h4 {
    background-color: darkslategrey;
    text-align: right;
}